/*Section about*/

#about{
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    margin: 0;
}

.txt-about{
    width: 100%;
    height: 290px;
    background: #e9ecef;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 5px 5px 0 #333333;
}

.progress-Bar{
    display: flex;
}

.chart {
    background: rgba(0, 0, 0);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 80%;
}

.chart span {
    /* You can modify the value below to change the distance between the percentage number and the bar */
    margin-left: 5px;
    color: #fff;
    font-weight: bolder;
}

/* debut des valeurs + anim progress bar */

/* value HTML*/

.bar {
    /* You can modify the total time used for the animation here */
    animation: load 3s normal forwards;
    /*
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 80%;
    }
}

/* value CSS */

.bar2 {
    /* You can modify the total time used for the animation here */
    animation: load2 3s normal forwards;
    /*
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 60%;
    }
}

/* value JS */

.bar3 {
    /* You can modify the total time used for the animation here */
    animation: load3 3s normal forwards;
    /*
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load3 {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 50%;
    }
}

/* value Jquery */

.bar4 {
    /* You can modify the total time used for the animation here */
    animation: load4 3s normal forwards;
    /*
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load4 {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 40%;
    }
}

/* value Symfony */

.bar5 {
    /* You can modify the total time used for the animation here */
    animation: load5 3s normal forwards;
    /*
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load5 {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 60%;
    }
}

/* fin des valeurs + anim progress bar */

/************** service *****************/

#service{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23D60' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.23'%3E%3Cg transform='rotate(79.2 0 0)' %3E%3Ccircle fill='%23D60' fill-opacity='0.23' r='10'/%3E%3Cg transform='rotate(-150 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg %3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(67.5 0 0)'%3E%3Cg transform='rotate(49.5 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform=''%3E%3Cg transform='rotate(29.7 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-59.4 0 0)'%3E%3Cg transform='rotate(-67.5 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.cards .card-service .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
}

.cards .card-service .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #e9ecef;
}

.cards .card-service .slide {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.cards .card-service .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.cards .card-service:hover .slide.slide1{
    transform: translateY(0px);
}

.cards .card-service .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    background: white;
}

.cards .card-service:hover .slide.slide2{
    transform: translateY(0);
}

.cards .card-service .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}

.cards .card-service .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.cards .card-service .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

/*responsive*/

@media screen and (max-width: 992px){
    .all-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -75px;
    }
    .txt-about{
        height: 312px;
    }
    .card-service{
        margin-bottom: -85px;
    }
}