/**********navbar***********/
nav {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99999999;
}
.logo {
    padding: 22px 20px 20px 205px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
nav .nav-bar {
    padding: 30px 150px 20px 20px;
    display: flex;
}
nav .nav-bar .nav-bar_item {
    list-style-type: none;
    padding: 0 20px;
}
nav .nav-bar .dropdown {
    position: relative;
}
nav .nav-bar .dropdown:after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    transform: rotate(-45deg);
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after{
    transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
    position: absolute;
    transform: translateX(-20px) translateY(5px);
    width: 110px;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project{
    height: 220px;

    visibility: visible;
}
nav .nav-bar .dropdown .project .drop-item {
    list-style-type: none;
    margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
    position: relative;
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
    width: 100%;
}
/****************************fin navbar*************************/

/*nav responsive*/

.wrapper-resp{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper-resp{
    clip-path: circle(75%);
}
.menu-btn-resp{
    position: fixed;
    z-index: 999999999;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #333;
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn-resp{
    color: #fff;
}
#active:checked ~ .menu-btn-resp i:before{
    content: "\f00d";
}
.wrapper-resp ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper-resp ul li{
    margin: 70px 0;
}
.wrapper-resp ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}
.wrapper-resp ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}
.wrapper-resp ul li a:hover:after{
    transform: scaleY(1);
}
.wrapper-resp ul li a:hover{
    color: #fff;
}
input[type="checkbox"]{
    display: none;
}

@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width: 991px) {
     .nav-no-responsive{
         display: none;
     }
    .nav-respons{
        display: block !important;
    }
}
/*************footer**************/
.footer-en-bas{
    min-height: 100vh;
}
footer {
    padding:40px 0;
    background-color:#333333;
    color:#ffffff;
    bottom: 0;
    width: 100%;
}
footer .social {
    text-align:center;
    padding-bottom:25px;
}
footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
footer .social > a:hover {
    opacity:0.9;
}
footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
/*************fin footer******************/