<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    {{ encore_entry_link_tags('app') }}
</head>
<body>

<nav>
    <a class="logo" href="{{ path('home') }}">Logo</a>
    <ul class="nav-bar">
        <li class="nav-bar_item"><a href="{{ path('contact') }}">contact</a></li>
        <li class="nav-bar_item"><a href="">Se déconnecter</a></li>
    </ul>
</nav>

<div class="container footer-en-bas">
    {% block body %}{% endblock %}
</div>

<footer>
    <div class="social">
        <a href="https://www.instagram.com/bjtechnodev/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/BJTechnoDev" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/BJ-TechnoDev" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p class="copyright"><a href="">BJ-TechnoDev</a> © 2021</p>
</footer>
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>